.add-modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    z-index: 10000;
}

.vert-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.btn-container {
    margin: 15px 0;
    text-align: right;
}
